.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftpanel {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  cursor: pointer;
}

.leftpanel-row {
  border: 1px solid rgb(121, 116, 116);
  border-radius: 5px;
}

.thumbnail-image {
  max-width: 50px;
  max-height: 50px;
}

.item-title {
  text-align: left;
  font-size: small;
}

.loading-msg {
  text-align: center;
}

.main-image {
  width: 100%;
  height: 100%;
}